<h1>Work list</h1>

<style>
 table { table-layout: fixed; }
 table th, table td { overflow: hidden; }
</style>

<table class="table table-striped">
  <tr>
    <th style="width: 10%">Day</th>
    <th style="width: 80%">Description</th>
    <th style="width: 10%">Time</th>
  </tr>
<% @works.each do |work| %>
  <tr>
    <td><%= work.day %></td>
    <td><%= work.description %></td>
    <td><%= work.time %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Work', new_work_path %>
