<h1>Your settings</h1>
<div class="row">
  <div class="span4 offset8">
    <%= link_to 'Edit', edit_setting_path(@setting), :class => "btn btn-primary" %>
  </div>
</div>
<%= render 'form_disabled' %>