<h1>Time Sheet - your easy way to track your time</h1>

<div class="span12">Time Sheet is service for tracking your work time in Pivotal tracker.
This is first app, which ask you about time! It knew what you have done</div>

<h2>Main features:</h2>
<ul>
  <li>Log time in single click</li>
  <li>Email and XMPP notification</li>
  <li>Pivotal Tracker integration</li>
  <li>No form for time tracking</li>
  <li>App know what you do</li>
</ul>
