<h1>Listing projects</h1>

<table class="table table-striped">
  <tr>
    <th>Project name</th>
    <th>Hours</th>
  </tr>
  

<% @projects.each do |project| %>

<tr>
  <td><%= link_to project.name, project_path(project.id) %></td>
  <td></td>
</tr>


<% end %>
</table>


