<div id="header">
	<header >
		<nav class="round">
			<ul>
				<li><%= link_to "Work", works_path%></li>
				<%= render 'devise/menu/admin' %>
				<%= render 'devise/menu/registration_items' %>
				<%= render 'devise/menu/login_items' %>
			</ul>
		</nav>
	</header>
</div>